.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $med-size;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    align-items: center;
    margin-bottom: $lg-size;
  }
}

.input-group__item {
  margin-bottom: $s-size;

  @media (min-width: $desktop-breakpoint) {
    margin: 0 $s-size 0;
  }
}
